 .content {width: 100%; padding-top: 1rem; } 
 .active { display: block; text-decoration: underline; text-underline-offset: 20%; } 
 .btn-wrapper { width: 33.3%; float: left; padding: 1rem; } 
 .btn-wrapper .btn { width: 100%; } 
 .t-left { text-align: left; } 

 .t-right { text-align: right; } 
 .t-center { text-align: center; padding-left: 2.2rem; } 
 .btn { font-weight: 700; } 
 .content .portfolio { width: 100%; } 
 .content .portfolio img { max-width: 100%; } 
 .designs { width: 100%; } 
 .designs img { max-width: 100%; }

 video {
  width: 100%;
  height: auto;
  position: relative;
}

.gif-practice{position: absolute;right: 7%;top: 29%;font-size: 0.45rem;text-decoration: underline;}

 /* TODO: 태블릿 */
@media screen and (min-width: 768px){
 .content > .portfolio { display: flex; justify-content: center; } 
 .content .portfolio img { max-width: 90%; } 
 /* .btn-wrapper { gap: 2rem; } */
 .designs { width: 100%; display: flex; justify-content: center; } 
 .designs img { max-width: 70%; } 
 .designs .mobile { max-width: 50%; } 
 .btn-wrapper { padding: 1rem 5rem; } 
  video {
  width: 90%;
}
.gif-practice{right: 9%;top: 34%;font-size: 0.7rem;height: 1.2rem;}
}

/* TODO: pc */
@media screen and (min-width: 1280px){
 .content .portfolio img { max-width: 70%; } 
 .btn-wrapper { width: 15%; padding-right: 2rem; } 
 .t-right { text-align: center; } 
 .t-left { text-align: center; } 
 .btns { padding-left: 6.5%; }
   video {
  width: 80%;
}
.gif-practice{right: 12%;top: 72%; font-size: 1rem;}
}