 .btn { height: 1.5rem; background-color: var(--white); color: var(--black); font-size: 0.9rem; border: 0; font-weight: 700;}
 .btn:hover{color: gainsboro;} 
 
 .content { display: none; width: 100%; padding-top: 1rem; } 
 .active { display: block; text-decoration: underline; text-underline-offset: 20%; } 
 .btn-wrapper { width: 33.3%; float: left; padding: 1rem; } 
 .btn-wrapper .btn { width: 100%; } 

 .t-left { text-align: left; } 
 .t-right { text-align: right; } 
 .t-center { text-align: center; padding-left: 2.2rem; }

 .content .milosome { width: 100%; } 
 .content .milosome img { max-width: 100%; } 
 .designs { width: 100%; } 
 .designs img { max-width: 100%; } 

 /* TODO: 태블릿 */
@media screen and (min-width: 768px){
 .content > .milosome { display: flex; justify-content: center; } 
 .content .milosome img { max-width: 90%; } 
 /* .btn-wrapper { gap: 2rem; } */
 .designs { width: 100%; display: flex; justify-content: center; } 
 .designs img { max-width: 70%; } 
 .designs .mobile { max-width: 50%; } 
 .btn-wrapper { padding: 1rem 5rem; } 
}

/* TODO: pc */
@media screen and (min-width: 1280px){
 .content .milosome img { max-width: 70%; } 
 .btn-wrapper { width: 15%; padding-right: 2rem; } 
 .t-right { text-align: center; } 
 .t-left { text-align: center; } 
 .btns { padding-left: 6.5%; } 
}
